.header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    justify-content: space-evenly;
    border-bottom: 2px solid whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 999;
}
.header_left {
    display: flex;
    margin-top: 2px;
}
.header_search {
    padding: 10px;
    display: flex;
    align-items: center;
    color: gray;
    height: 16px;
    border-radius: 5px;
    margin-left: 5px;
    /* margin-top: 3px; */
    background-color: #eef3f8;
}
.header_search > input {
    outline: none;
    border: none;
    background-color: #eef3f8;
}

.header_right {
    display: flex;

}